
main, article {
    background: #d2eaff;
}

main .container:first-of-type {
    background: white;
}

.col-md-4, .col-md-5, #headlineGalleryContainer {
    margin: 5px 0;
}

.largeRedPanel, #headlineGalleryContainer {
    padding-top: 10px;
}

.homepanel div {
    background: #2b205c;
    color: white;
    height: 100%;
    padding: 1em 1.5em;
    transition: all ease .3s;
}

.homepanel div:hover {
    background: #8cb8dd;
}

.homepanel div p {
    margin-bottom: 0;
}

.largeRedPanel div {
    background: #d7282e;
    color: white;
    height: 100%;
    padding: 1.5em;
    transition: all ease .3s;
}

.homepanel a, .largeRedPanel a {
    color: inherit;
}

.homePanelHeading {
    text-transform: uppercase;
    font-size: .9em;
}

.largeRedPanel .homePanelHeading {
    font-size: 3em;
    line-height: 1.1;
}

@media (max-width: 1200px) {
    .largeRedPanel .homePanelHeading {
        font-size: 4vw;
    }
}

@media (max-width: 768px) {
    main .container:first-of-type {
        padding: 0;
    }

    .largeRedPanel .homePanelHeading {
        font-size: 9vw;
    }
}
