@font-face {
    font-family: 'Gadugi';
    src: url('gadugi.eot');
    src: url('gadugi.eot?#iefix') format('embedded-opentype'),
        url('gadugi.woff2') format('woff2'),
        url('gadugi.woff') format('woff'),
        url('Gadugi.ttf') format('truetype'),
        url('gadugi.svg#Gadugi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Gadugi';
  src: url('gadugi-bold.eot');
  src: url('gadugi-bold.eot?#iefix') format('embedded-opentype'),
  url('gadugi-bold.woff2') format('woff2'),
  url('gadugi-bold.woff') format('woff'),
  url('gadugi-bold.ttf') format('truetype'),
  url('gadugi-bold.svg#Gadugi-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

