@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-Black.eot');
    src: url('NunitoSans-Black.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-Black.woff2') format('woff2'),
        url('NunitoSans-Black.woff') format('woff'),
        url('NunitoSans-Black.ttf') format('truetype'),
        url('NunitoSans-Black.svg#NunitoSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-BoldItalic.eot');
    src: url('NunitoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-BoldItalic.woff2') format('woff2'),
        url('NunitoSans-BoldItalic.woff') format('woff'),
        url('NunitoSans-BoldItalic.ttf') format('truetype'),
        url('NunitoSans-BoldItalic.svg#NunitoSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-ExtraBoldItalic.eot');
    src: url('NunitoSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-ExtraBoldItalic.woff2') format('woff2'),
        url('NunitoSans-ExtraBoldItalic.woff') format('woff'),
        url('NunitoSans-ExtraBoldItalic.ttf') format('truetype'),
        url('NunitoSans-ExtraBoldItalic.svg#NunitoSans-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-ExtraBold.eot');
    src: url('NunitoSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-ExtraBold.woff2') format('woff2'),
        url('NunitoSans-ExtraBold.woff') format('woff'),
        url('NunitoSans-ExtraBold.ttf') format('truetype'),
        url('NunitoSans-ExtraBold.svg#NunitoSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-Bold.eot');
    src: url('NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-Bold.woff2') format('woff2'),
        url('NunitoSans-Bold.woff') format('woff'),
        url('NunitoSans-Bold.ttf') format('truetype'),
        url('NunitoSans-Bold.svg#NunitoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-BlackItalic.eot');
    src: url('NunitoSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-BlackItalic.woff2') format('woff2'),
        url('NunitoSans-BlackItalic.woff') format('woff'),
        url('NunitoSans-BlackItalic.ttf') format('truetype'),
        url('NunitoSans-BlackItalic.svg#NunitoSans-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-ExtraLightItalic.eot');
    src: url('NunitoSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-ExtraLightItalic.woff2') format('woff2'),
        url('NunitoSans-ExtraLightItalic.woff') format('woff'),
        url('NunitoSans-ExtraLightItalic.ttf') format('truetype'),
        url('NunitoSans-ExtraLightItalic.svg#NunitoSans-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-ExtraLight.eot');
    src: url('NunitoSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-ExtraLight.woff2') format('woff2'),
        url('NunitoSans-ExtraLight.woff') format('woff'),
        url('NunitoSans-ExtraLight.ttf') format('truetype'),
        url('NunitoSans-ExtraLight.svg#NunitoSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-LightItalic.eot');
    src: url('NunitoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-LightItalic.woff2') format('woff2'),
        url('NunitoSans-LightItalic.woff') format('woff'),
        url('NunitoSans-LightItalic.ttf') format('truetype'),
        url('NunitoSans-LightItalic.svg#NunitoSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-SemiBold.eot');
    src: url('NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-SemiBold.woff2') format('woff2'),
        url('NunitoSans-SemiBold.woff') format('woff'),
        url('NunitoSans-SemiBold.ttf') format('truetype'),
        url('NunitoSans-SemiBold.svg#NunitoSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-Italic.eot');
    src: url('NunitoSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-Italic.woff2') format('woff2'),
        url('NunitoSans-Italic.woff') format('woff'),
        url('NunitoSans-Italic.ttf') format('truetype'),
        url('NunitoSans-Italic.svg#NunitoSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-Light.eot');
    src: url('NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-Light.woff2') format('woff2'),
        url('NunitoSans-Light.woff') format('woff'),
        url('NunitoSans-Light.ttf') format('truetype'),
        url('NunitoSans-Light.svg#NunitoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-Regular.eot');
    src: url('NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-Regular.woff2') format('woff2'),
        url('NunitoSans-Regular.woff') format('woff'),
        url('NunitoSans-Regular.ttf') format('truetype'),
        url('NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-SemiBoldItalic.eot');
    src: url('NunitoSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-SemiBoldItalic.woff2') format('woff2'),
        url('NunitoSans-SemiBoldItalic.woff') format('woff'),
        url('NunitoSans-SemiBoldItalic.ttf') format('truetype'),
        url('NunitoSans-SemiBoldItalic.svg#NunitoSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

