@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-mono');


@tailwind base;
@tailwind components;
@tailwind utilities;
