/*
 ** Raw Color Definitions
 */

$blue-dark: #2F5A81
$blue: #4DAAE9
$blue-light: #63E2FF
$blue-xlight: #DDFFFF
$green-dark: #539987
$green: #6AE54B
$green-light: #52FFB8
$purple: #682F81
$red: #D83831
$orange: #F3A12C
$orange-light: #EFB256
$yellow: #FBF051
$brown: #6E4E2E
$black: #000000
$black-light: #333333
$black-xlight: #503D3F
$black-xxlight: #615756
$grey: #AAAAAA
$white: #FFFFFF

/*
 ** Common Color Definitions
 */

$text: $black-xlight
$text-light: $black-xxlight

/*
 ** Font Definitions
 */
$font-family: 'Gadugi', Arial, sans-serif
