@font-face {
    font-family: 'Marker Mark';
    src: url('MarkerMark-Regular.eot');
    src: url('MarkerMark-Regular.eot?#iefix') format('embedded-opentype'),
        url('MarkerMark-Regular.woff2') format('woff2'),
        url('MarkerMark-Regular.woff') format('woff'),
        url('MarkerMark-Regular.ttf') format('truetype'),
        url('MarkerMark-Regular.svg#MarkerMark-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

